/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.large-input {
  width: 400px;
  height: 40px;
  font-size: 16px;
}

.large-textarea {
  width: 400px;
  height: 200px;
  font-size: 16px;
}

.flash-message {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}
.notice {
  border-color: #4caf50;
  background-color: #dff0d8;
  color: #3c763d;
}
.alert {
  border-color: #f44336;
  background-color: #f2dede;
  color: #a94442;
}