@charset "utf-8";

p{
    top: 400px;
}

div{
    width: 400px;
    height: 200px;
    background-color:white ;
    margin-left: 200px;
    border-color:black ;
}

.box1 {
    padding: 0.5em 1em;
    margin-left:200px ;
    font-weight: bold;
    color: black;/*文字色*/
    background: #FFF;
    border: solid 2px black;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.box1 p {
    margin: 0; 
    padding: 0;
}